

.list {
	font-weight: bold;
}

ul {
  list-style-type: none;
    padding-left:0;
}

.borderBig {
	border-style: ridge;
	border-width: 10px;
	border-color: rgba(71,53,33,1);
	border-radius: 10px;
}

.border {
	border-style: ridge;
	padding: 10px;
	border-color: rgba(71,53,33,1);
}
.font{
	font-size: 13px;
}

.cardSetting {
	box-shadow: 7px 9px 27px 1px rgba(0,0,0,0.75);
	width: 300px;
	padding: 10px;
	background-color: rgba(162,119,70,1);
}

img {
	padding-bottom: 10px;
}

.align {
	text-align: center;
}